<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css'%}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>

<body>
    <div class="navbar">
        <div id="nav">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div id="nav">
            <a href="{% url 'new' %}">New</a>
        </div>
    </div>

    {% block box %}

    {% endblock %}

</body>

</html>